.modalShopItem {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalShopItem__imageContainer {

}

.modalShopItem__image {
}

.modalShopItem__title {
    margin: 0;
    font-size: 2em;
    color: black;
}

.modalShopItem__description {
    margin: 0;
    color: var(--tg-theme-hint-color);
    font-size: 1.5em;
}

.modalShopItem__price {
    margin: 0;
    font-size: 1.5em;
    color: black;
}

.modalShopItem__actionBtns {
    display: flex;
}

.modalShopItem__btn {
}

.modalShopItem__space {
    width: 0.5rem;
}