.shopItem {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shopItem__info {
    width: 100%;
}

.shopItem__imageContainer {
    width: 100%;
    padding-bottom: 100%;
    position: relative;

}

.shopItem__image {
    width: 100%;
    position: absolute;
}

.shopItem__title {
    margin: 0;
    font-size: 1em;
}

.shopItem__description {
    margin: 0;
    color: var(--tg-theme-hint-color);
    font-size: 1em;
}

.shopItem__actionBtns {
    display: flex;
}

.shopItem__btn {
}

.shopItem__space {
    width: 0.5rem;
}